@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema técnico de Gestão</h1>
    <p>Desenvolvido para estudos sem muito foco no Front End</a>.</p>
    <p>É um simples exemplo de como desenvolver uma aplicação MVC </a>.</p>
</div>
